<%- include('../partials/header') %>
<h2><%=title%></h2>
<img src="/images/bethesda.jpg" alt="Bethesda Logo">

<div>
  <p>
    To dive more into the Fallout Franchise, we need to start with the franchise's gaming development company, Bethesda Game Studios! Bethesda Game Studios is a subsidiary of ZeniMax Media Inc., all based in Rockville, MD. The game development studio was founded back in 2001, has been the producer of some of the top action role-playing games in the US. Their titles include the Elder Scrolls Series (Oblivion, Morrowind, Skyrim) and the Fallout Series (Fallout 3, Fallout: New Vegas, and Fallout 4). 
  </p>
</div>
  	
<%- include('../partials/footer') %>