<%- include('../partials/header') %>
<h2><%=title%></h2>
  <img src="/images/falloutnv.jpg" alt="Fallout New Vegas"> 	
  <div>
    <p>
      Fallout: New Vegas was the second installment in the series, produced by Bethesda Game Studios. Released in 2010, two years after Fallout 3, many say that Fallout: New Vegas and Fallout 3 compete in popularity.Set in the Mojave Desert, compared to the Boston area in Fallout 3, the gaming mechanics compare the same, with the addition of different factions that the player can choose. These factions heavily follow the theme of the D&D character alignment chart.
    </p>
  </div>
<%- include('../partials/footer') %>