<%- include('../partials/header') %>
<h2><%=title%></h2>
 <img src="/images/fallout4.jpg" alt="Fallout 4">  
  <div>
    <p>
      Fallout 4 is the third installment within the Fallout Franchise underneath Bethesda Studios. This game came out 7 years past its highly-acclaimed predecessor, Fallout 3, in 2015. Due to this, and its marketing and promotion, audiences were more than excited and hyped for this series installment. 
    </p>
  </div>
<%- include('../partials/footer') %>