<%- include('../partials/header') %>
<h2><%=title%></h2>
 <img src="/images/fallout3.jpg" alt="Fallout 3"> 	
  <div>
    <p>Fallout 3 was Bethesda's first installment and production into the Fallout Franchise in the line of games that were developed by them. Winning IGN's "Game of the Year" in 2008, it is known as one of the mostly beloved installment within the Fallout series. The game takes a lot of the storytelling elements from the first two installments, of a sci-fi post-nuclear wasteland. A lot of people say that Bethesda improved on the game by adding first-person shooter mechanics, removing the 2D isometric graphics and turn-based style combat. On top of that, Bethesda wrapped the game up in a pretty bow, by adding the ability for players to explore the wasteland in an immersive open-world environment. Players and critics praised the game for having a unique and personified tone of dark comedy, easter eggs, and an inclusive narrative, which increased the game's ability to feel immersive to players.</p>
  </div>
<%- include('../partials/footer') %>