<%- include('../partials/header') %>
<h2><%=title%></h2>
  <img src="/images/firstandsecond.jpg" alt="Fallout 1 and 2"> 	
  <div>
    <p>
      Fallout 1 & 2 are both installments into the Fallout Franchise that are not produced by Bethesda Gaming Studios, as they were produced by Interplay Productions and Black Isle Productions. Both games have been sourced by Bethesda Game Studios as the main inspiration for their games, as most of the lore is similar to the other games within the Fallout series. The gamer plays as a Vault Dweller, a character who has been forced to live in an underground shelter for years due to a nuclear apocalypse. 
    </p>
  </div>
<%- include('../partials/footer') %>