<%- include('../partials/header') %>
<h2><%=title%></h2>
  <p>This Node.js website utilizes Express.js and EJS templates to provide information on the video game franchise of Fallout.</p>
  <%- include('../partials/footer') %>

  